@import '../../../assets/style/_theme.less';
@import '../../../assets//style/_mediaQuery.less';
.nHeader{
    width: 100%;
    .width-limit{
        min-width: 768px;
        max-width: 1440px;
        margin: 0 auto;
        line-height: 56px;
        &:after{
            display: block;
            content: "";
            clear: both;
        }
    }
    .log{
        float: left;
        height: 56px;   
        line-height: 56px;   
        font-size: 28px;  
        padding: 0 30px;
        color: @theme_color_2;
    }
    .write-btn{
        float: right;
        margin: 0 12px;
    }
    .unlogin{
        float: right;
        .login-btn{
            margin: 0 6px 0 10px;
            color:#969696;
            font-size: 15px;
        }
        .register-btn{
            margin: 0 5px 0 15px;
        }
    }
    .user{
        float: right;
        width: 80px;
        text-align: center;
        .user-ava{
            margin-top:-5px;
        }
        .ava-icon{
            color: #999;
            margin: 0 3px;
        }
        &:hover{
            background-color: #f5f5f5
        }
    }
    .style-mode{
        float: right;
        font-size: 20px;
        padding: 0 10px;
        color: #999;
    }

    .menu{
        font-size: 16px;
        ul{
            list-style: none;
            height: 56px;
            margin: 0;
            
            li{
                float: left;
                text-align: center;
                padding: 0 16px;
                margin-right: 0px;     
                &.tab:hover{
                    background-color: #f5f5f5
                }            
                a{
                    color: #333;
                    height: 100%;
                    display: inline-block;
                    &.active{
                      color: @theme_color_4;  
                    }    
                                  
                }
                .m-icon{
                    font-size: 20px;
                    margin-right: 0px;
                    display: inline-block;
                }
                .m-icon-text{
                    display: none;
                }
                .search-input{
                    width: 150px;
                    border-radius:20px ;
                    background: #eee;
                    border: none;
                    box-shadow:none;
                    transition: width 1s;
                    input{
                        background: #eee;
                        font-size: 14px !important;
                    }              
                }
            }
            @media screen and (min-width:768px){
                li{
                    margin-right: 0px;
                    .search-input{
                        width: 150px;
                    }
                    .m-icon{
                        display: none;
                        margin-right: 0px;
                    }
                    .m-icon-text{
                        display: inline-block;
                    }
                }
                
            }
            @media screen and (min-width:992px){
                li{
                    margin-right: 10px;
                    .search-input{
                        width: 150px;
                    }
                    .m-icon{
                        display: inline-block;
                        margin-right: 5px;
                    }
                    .m-icon-text{
                        display: inline-block;
                    }
                }
                
            }
            @media screen and (min-width:1081px){
                li{
                    margin-right: 10px;
                    .search-input{
                        width: 240px;
                    }
                    .m-icon{
                        display: inline-block;
                        margin-right: 5px;
                    }
                    .m-icon-text{
                        display: inline-block;
                    }
                }
            }   
        }
    }

    &:before,&:after{
        content: " ";
        display: table;    
    }
    &:after{
        clear: both;   
    }
}
.nHeader-default{
    background: #fff;
    border-bottom:1px solid #f0f0f0;
}
.nHeader-fixed-top{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}

&.user-dropdown{
    top:57px !important;
}
.dropdown-menu{
    li{
        padding: 15px 35px 15px 20px;
    }
    .dropdown-item-icon{
        font-size: 16px !important;
        color: @theme_color_2;
    }
    .dropdown-item-icon-s{
        margin-left: 15px;
    }
}
.btn-theme{
    color: #fff;
    background-color: @theme_color_2;
    border-color: @theme_color_2;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    &:hover{
        color: #fff;
        background-color: @theme_color_3;
        border-color: @theme_color_3;
    }
    &:focus{
        color: @theme_color_3;
        background-color: #fff;
        border-color: @theme_color_3;
    }
}
